# A brief introduction to R

R is a commonly used programming language for data analysis and statistics. It is free, and very widely used by professional statisticians as well as data scientists in many application areas. It has many built-in functions and libraries. Users are also allowed to define their own functions and procedures.

In this section, we provide a quick introduction to R.

## R basics

### Variables, functions, vectors and factors

In [2]:
# variables
age <- 28 + 15
age

# function
sqrt(25)

# define your own function
example_function <- function(x,y){
    z <- sqrt(x) * y
    return(z)
}
example_function(25,2)

[1] 43

[1] 5

[1] 10

In [5]:
## vectors

#create a numerical vector
x <- c(200, 120, 130, 125, 220) 
x
length(x)

#create a character vector
y <- c("maria", "john", "harry") 

#indexing vectors
x[3]
x[c(3,5)]
x[3:5]
x[c(3, 4, 5, 2, 4)]
x[x > 180]

#alter elements of a vector
x[3] <- 140

#add elements to a vector
x[6] <- 130
x

[1] 200 120 130 125 220

[1] 5

[1] 130

[1] 130 220

[1] 130 125 220

[1] 130 125 220 120 125

[1] 200 220

[1] 200 120 140 125 220 130

In [11]:
##factors
gender <- c(1, 1, 2, 1, 2)
gender <- as.factor(gender)
gender
levels(gender)
levels(gender) <- c("male", "female")
gender

[1] 1 1 2 1 2
Levels: 1 2

[1] "1" "2"

[1] male   male   female male   female
Levels: male female

### Data frames

In [12]:
##data frames
name <- c("Bob", "Dave", "Anna", "John", "Maria")
age <- c (20, 35, 28, 30, 55)
people <- data.frame(name, age, gender)
people

  name  age gender
1 Bob   20  male
2 Dave  35  male
3 Anna  28  female
4 John  30  male
5 Maria 55  female

In [15]:
# indexing data frames
people[1,2]
people[1, 1:2]
people[1,]
people[,3]
people$age

[1] 20

  name age
1 Bob  20

  name age gender
1 Bob  20  male

[1] male   male   female male   female
Levels: male female

[1] 20 35 28 30 55

In [16]:
# subsetting data frames
people[people$gender=="male",]
people[(people$gender=="male") & (people$age>22),]
people[(people$gender=="male") & people$age>22,]$name

  name age gender
1 Bob  20  male
2 Dave 35  male
4 John 30  male

  name age gender
2 Dave 35  male
4 John 30  male

[1] "Dave" "John"

In [17]:
names(people)
dim(people)
str(people)

[1] "name"   "age"    "gender"

[1] 5 3

'data.frame':	5 obs. of  3 variables:
 $ name  : chr  "Bob" "Dave" "Anna" "John" ...
 $ age   : num  20 35 28 30 55
 $ gender: Factor w/ 2 levels "male","female": 1 1 2 1 2